@charset "UTF-8";
/**
 * admin-third管理テーマログイン画面用
 */

 
/* 意図しないオーバーフローを調整、等（768px以上を意図する） */
body {
  min-width: initial;
  -webkit-text-size-adjust: 100%;
}
.bca-app {
  min-height: calc(100vh - 40px) !important;
}

/* フロント認証等でツールバーを使用する場合（縦中央配置） */
.bca-toolbar .bca-toolbar__logo {
  align-items: center !important;
}


@media screen and (max-width: 768px) {
/* gridレイアウトをflexレイアウトに変更 */
.bca-app {
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - 40px);
}

/* クレジット画面のレイアウトの修正 */
#CreditScrollerInner {
  width: auto;
}
#CreditScroller ul {
  padding-left: 0;
}

/* ログイン画面のレイアウト調整 */
.bca-login {
  margin: 20px auto;
  padding: 30px 25px;
  max-width: max-content !important;
}

/* フッター幅調整 */
.bca-footer__inner {
  min-width: auto;
}

/* ツールバーのサーバーキャッシュクリアをアイコン化 */
.bca-toolbar__users > ul > li:nth-child(2) a {
  font-size:0;
  background: #2a332c !important;
  transition: none !important;
}
.bca-toolbar__users > ul > li:nth-child(2) a:hover {
  background-color: #444 !important;
}
.bca-toolbar__users > ul > li:nth-child(2) a::before {
  content: "";
  font-size:0;
}
.bca-toolbar__users > ul > li:nth-child(2) a::before {
  background-image: url(../../img/admin/icon/sync-solid.svg) !important;
  width: 12px !important;
  height: 12px !important;
}

.bca-toolbar__tools-mode span {
  padding: 3px 8px !important;
}

/* ツールバーのロゴテキストを非表示 */
.bca-toolbar .bca-toolbar__logo-text {
  display: none !important;
}
.bca-toolbar .bca-toolbar__logo-symbol {
  border: none !important;
}

/* ツールバーのシンボルロゴのマージン調整 */
.bca-toolbar .bca-toolbar__logo-symbol {
  border: none !important;
  padding: 0 !important;
  margin-right: 0 !important;
}

/* ツールバーのロゴ周りマージン等の調整 */
.bca-toolbar .bca-toolbar__logo {
  padding: 0 12px 0 12px !important;
}
.bca-toolbar__tools-edit a {
  margin: 8px 0;
}
 
/* ツールバーの「編集する」表示のアイコン化 */
.bca-toolbar__tools-button a,
.bca-toolbar__tools-edit a {
  font-size: 0;
  background: none !important;
  transition: none;
}
.bca-toolbar__tools-button a:hover,
.bca-toolbar__tools-edit a:hover {
  background: none !important;
}
.bca-toolbar__tools-button-edit a::before,
.bca-toolbar__tools-edit a::before {
  background-image: url(../../img/admin/icon/pencil-alt-solid.svg) !important;
  width: 20px !important;
  height: 20px !important;
  background-position: center;
  background-size: 50%;
  background-color: #fff !important;
  border-radius: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: initial;
  padding: 0px;
}
.bca-toolbar__tools-button-add a::before,
.bca-toolbar__tools-add a::before {
  background-image: url(../../img/admin/icon/plus-circle-solid.svg) !important;
  width: 20px !important;
  height: 20px !important;
  background-position: center;
  background-size: 50%;
  background-color: #fff !important;
  border-radius: 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
  line-height: initial;
  padding: 0px;
}
.bca-toolbar__tools-button-edit a:hover::before,
.bca-toolbar__tools-button-add a:hover::before,
.bca-toolbar__tools-edit a:hover::before,
.bca-toolbar__tools-add a:hover::before {
  background-color: #ccc !important;
  transition: all 0.5s ease;
}
.bca-toolbar__tools-edit {
  line-height: 1.15;
}
}


@media screen and (max-width: 499px) {
/* ログイン画面、状態保存チェックボックス周りレイアウト調整 */
.bca-login .bca-login-form-ctrl {
  align-items: normal;
  flex-direction: column;
}

/* ログイン画面のタイトル調整 */
.bca-login__title {
  margin-top: 0;
  margin-bottom: 10px;
}

/* ログイン画面のロゴ幅変更 */
.bca-login__logo {
  max-width: 230px;
  width: 100%;
}

/* ツールバーのユーザーリスト、サーバーキャッシュクリア表示のレイアウト調整 */
.bca-toolbar__users > ul > li > a {
  padding: 2px 12px !important;
}

/* ツールバーの開発モード表示の簡素化 */
.bca-toolbar__tools-mode span {
  padding: 0 !important;
  font-size: 0;
  background: none !important;
}
.bca-toolbar__tools-mode span::before {
  content: "開発モード";
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  background-color: red;
  padding: 3px 8px;
  border-radius: 11px;
}
}
